s1_Library	D701
s2_File_1B_elution	D702
s3_File_1B_supernatant	D703
s4_File_2B_elution	D704
s5_File_2B_supernatant	D705
s6_File_3B_elution	D706
s7_File_3B_supernatant	D707
s8_File_2FL_elution	D708
s9_File_2FL_supernatant	D709
s10_File_3DIG_elution	D710
s11_File_3DIG_supernatant	D711
s12_File_1_1E7_elution		D712
s13_File_1_1E7_supernatant	D701
s14_File_1_1E7_anneal_elution	D702
s15_File_1_1E7_anneal_supernatant	D703
s16_File_1_supe1_File_1_elu2		D704
s17_File_1_supe1_File_1_supe2		D705
s18_File_1_supe2_File_1_elu3		D706
s19_File_1_supe2_File_1_supe3		D707
s20_File_1_supe1_File_2_elu2		D708
s21_File_1_supe1_File_2_supe2		D709
s22_File_2_supe2_File_3_elu3		D710
s23_File_2_supe2_File_3_supe3		D711
s24_dense_background			D712
s25_File_1_db_overwhelm			D701
s26_File_1_db_1cycle			D702
s27_File_1B_db_1_cycle_elution		D703
s28_File_1B_db_1_cycle_supernatant	D704
s29_File_1_db_overwhelm2		D705
s30_File_1_db_6cycle			D706
s31_File_1B_db_6cycle_elution		D707
s32_File_1B_db_6cycle_supernatant	D708
s33_File_2_db_overwhelm			D709
s34_File_2_db_6_cycle			D710
s35_File_2FL_db_6_cycle_elution		D711
s36_File_2FL_db_6_cycle_supernatant	D712
s37_File_3_db_overwhelm			D701
s38_File_3_db_6_cycles			D702
s39_File_3DIG_db_6_cycle_elution	D703
s40_File_3DIG_db_6_cycle_supernatant	D704
s41_Hierarchy_p4_control		D705
s42_Hierarchy_p4_elution		D706
s43_Hierarchy_p4_supernatant		D707
s44_Hierarchy_p4_p5_control		D708
s45_Hierarchy_p4_elution_p5_control	D709
s46_Hierarchy_p4_elution_p5_elution	D710
s47_Hierarchy_p4_elution_p5_supernatant	D711
s48_Hierarchy_p4_p4_control		D712
s49_Hierarchy_p4_elution_p4_control	D701
s50_Hierarchy_p4_elution_p4_elution	D702
s51_Hierarchy_p4_elution_p4_supernatant	D703
s52_Hierarchy_p5_control		D704
s53_Hierarchy_p5_elution		D705
s54_Hierarchy_p5_supernatant		D706
s55_Hierarchy_p5_p4_control		D707
s56_Hierarchy_p5_elution_p4_control	D708
s57_Hierarchy_p5_elution_p4_elution	D709
s58_Hierarchy_p5_elution_p4_supernatant	D710
s59_Hierarchy_p5_p5_control		D711
s60_Hierarchy_p5_elution_p5_control	D712
s61_Hierarchy_p5_elution_p5_elution	D701
s62_Hierarchy_p5_elution_p5_supernatant	D702
s63_File_1_PCR1				D703
s64_File_1_PCR2				D704
s65_File_1_PCR5				D705
s66_File_1_PCR10			D706
s67_File_1_PCR20			D707
					D708
